In [40]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from word2number import w2n
from sklearn import linear_model

In [41]:
df = pd.read_csv('hiring.csv')

In [42]:
import math
median_test_score = math.floor(df['test_score'].mean())
median_test_score

7

In [43]:
df.experience = df.experience.fillna("Zero")

In [44]:
df.experience = df.experience.apply(w2n.word_to_num) 
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [45]:
# reg = linear_model.LinearRegression()
# reg.fit([['experience', 'test_score', 'interview_score']], df.salary)