In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('HR.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
# plt.scatter(dfcombine.left,dfcombine.salary)

In [ ]:
high, low, medium = dfcombine['salary'].value_counts()

In [ ]:
pd.crosstab(df.salary,df.left).plot(kind='bar')

In [ ]:
pd.crosstab(df.Department,df.left).plot(kind='bar')

In [75]:
subdf = df[['satisfaction_level','average_montly_hours','promotion_last_5years','salary']]
subdf.head()

   satisfaction_level  average_montly_hours  promotion_last_5years  salary
0                0.38                   157                      0     low
1                0.80                   262                      0  medium
2                0.11                   272                      0  medium
3                0.72                   223                      0     low
4                0.37                   159                      0     low

In [76]:
salary_dummies = pd.get_dummies(subdf.salary, prefix="salary")
df_with_dummies = pd.concat([subdf,salary_dummies],axis='columns')
df_with_dummies.drop('salary',axis='columns',inplace=True)
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [34]:
yvar = df.left

In [83]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_with_dummies,yvar, test_size=0.2)

In [84]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [85]:
model.fit(X_train,y_train)

LogisticRegression()

In [86]:
model.score(X_test,y_test)

0.784